@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@200;400;500;600;800&family=Poppins:wght@200;400;500;600;800&display=swap');

:root {
		--foreground-rgb: 0, 0, 0;
		--background-start-rgb: 255, 255, 255;
		--background-end-rgb: 255, 255, 255;
		--container-width: 1024px;
		--container-padding: 2rem;
		--header-height: 7.5rem;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
  font: 1.31rem/1.33 'Montserrat','Poppins','Cabin',Arial,sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
		-webkit-font-smoothing: antialiased;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
