@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 229 57% 100%;
    --foreground: 229 63% 4%;
    --muted: 229 12% 86%;
    --muted-foreground: 229 10% 37%;
    --popover: 0 0% 99%;
    --popover-foreground: 229 63% 3%;
    --card: 0 0% 99%;
    --card-foreground: 229 63% 3%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 20% 90%;
    --secondary-foreground: 229 20% 30%;
    --accent: 229 28% 85%;
    --accent-foreground: 229 28% 25%;
    --destructive: 3 100% 50%;
    --destructive-foreground: 3 0% 100%;
    --ring: 229 100% 62%;
    --radius: 1rem;

    --orange: 24.6 95% 53.1%;
    --orange-foreground: 60 9.1% 97.8%;

    --error: 6 98% 76%;
    --error-foreground: 6 98% 16%;
    --success: 137 63% 70%;
    --success-foreground: 137 63% 10%;
    --warning: 37 98% 76%;
    --warning-foreground: 37 98% 16%;
    --info: 236 98% 76%;
    --info-foreground: 236 98% 16%;
  }

  .dark {
    --background: 229 41% 4%;
    --foreground: 229 23% 99%;
    --muted: 229 12% 14%;
    --muted-foreground: 229 10% 63%;
    --popover: 229 41% 5%;
    --popover-foreground: 0 0% 100%;
    --card: 229 41% 5%;
    --card-foreground: 0 0% 100%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 229 100% 62%;
    --primary-foreground: 0 0% 100%;
    --secondary: 229 14% 8%;
    --secondary-foreground: 229 14% 68%;
    --accent: 229 23% 17%;
    --accent-foreground: 229 23% 77%;
    --destructive: 3 89% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 229 100% 62%;

    --error: 0 98% 23%;
    --error-foreground: 0 98% 83%;
    --success: 144 98% 23%;
    --success-foreground: 0 0% 100%;
    --warning: 37 98% 23%;
    --warning-foreground: 37 98% 83%;
    --info: 181 98% 23%;
    --info-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-color: hsl(var(--border)) hsl(var(--background));
    scrollbar-width: thin;
  }

  body {
    @apply bg-background text-foreground;
    overflow-y: scroll;
  }
  html {
    scrollbar-gutter: stable;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

a {
  -webkit-tap-highlight-color: transparent;
}

/* ::selection { */
/*   background-color: #e9d5ff; */
/*   color: #9333ea; */
/*   border-radius: 0.75rem; */
/*   padding: 0.5rem; */
/* } */

/*Editorjs Dark Mode*/
.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn,
.dark .ce-popover-item__title,
.dark .ce-popover-item__icon {
  color: hsl(var(--foreground));
}

.dark .cdx-search-field.ce-popover__search {
  background-color: hsl(var(--muted));
  border-color: hsl(var(--border));
}

.dark .cdx-search-field__input {
  color: hsl(var(--foreground));
}

.dark .cdx-block,
.dark .ce-block {
  color: hsl(var(--foreground));
}

.dark .ce-inline-toolbar,
.dark .ce-conversion-tool__icon,
.dark .ce-popover-item__icon {
  color: hsl(var(--foreground));
  background-color: hsl(var(--accent));
}

.dark .ce-popover,
.dark .ce-conversion-toolbar,
.dark .ce-inline-toolbar {
  background-color: hsl(var(--background));
  border-color: hsl(var(--border));
  box-shadow: 0 3px 15px -3px hsl(var(--border));
}

.dark .ce-inline-tool:hover,
.dark .ce-inline-toolbar__dropdown:hover,
.dark .ce-toolbar__plus:hover,
.dark .ce-toolbar__settings-btn:hover,
.dark .ce-conversion-tool:hover,
.dark .ce-popover-item:hover {
  background-color: hsl(var(--accent));
}

.dark .ce-block .ce-block__content *::selection,
.dark .cdx-block *::selection,
.dark .cdx-search-field__input::selection,
.dark .ce-block.ce-block--selected .ce-block__content {
  background-color: hsl(var(--accent));
}

.dark .ce-popover__items {
  scrollbar-color: hsl(var(--border)) hsl(var(--primary));
}

@media (max-width: 650px) {
  .dark .ce-toolbar__settings-btn,
  .dark .ce-toolbar__plus {
    background-color: hsl(var(--primary));
    border-color: hsl(var(--border));
    box-shadow: 0 3px 15px -3px hsl(var(--border));
  }
}
